@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy Extra Bold'), local('Gilroy-Extra-Bold'),
    url('../fonts/Gilroy-ExtraBold/font.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold/font.woff') format('woff');
}

h1, h2, h3, h4 {
    font-family: Gilroy-ExtraBold;
}

p {
    font-family: 'Jura', sans-serif;
}

header {
    background-image: url("../img/bg_banner.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

header h1 {
    padding: 100px 50px 50px 50px;
    font-size: 4em;
    text-align: left;
}

.bg-pink {
    background-color: rgba(229, 74, 114, 1.0);
}

.text-pink {
    color: rgba(229, 74, 114, 1.0);
}

.bg-pink-darker {
    background-color: rgba(229, 74, 114, 0.9);
}

.col-pad-left-50 {
    padding-left: 0;
}

.col-pad-right-50 {
    padding-left: 0;
}

@media (min-width: 576px) {
    .col-pad-left-50 {
        padding-left: 50%;
    }

    .col-pad-right-50 {
        padding-right: 50%;
    }
}