/*Leaving this here to demonstrate basic font rules*/
/*@font-face {*/
/*    font-family: 'Video-Bold';*/
/*    src: local('Video Cond Bold'), local('Video-Cond-Bold'),*/
/*    url('./media/fonts/videoCond/bold/VideoCond-Bold.woff2') format('woff2'),*/
/*    url('./media/fonts/videoCond/bold/VideoCond-Bold.woff') format('woff'),*/
/*    url('./media/fonts/videoCond/bold/VideoCond-Bold.ttf') format('truetype');*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

header {
    background-image: url("./media/images/bg_banner.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

header h1 {
    padding: 100px 50px 50px 50px;
    /*font-family: ;*/
    font-size: 4em;
    font-style: italic;
    text-decoration: underline;
    text-align: left;
}

.bg-pink {
	background-color: rgba(229, 74, 114, 1.0);
}

.text-pink {
    color: rgba(229, 74, 114, 1.0);
}

.bg-pink-darker {
	background-color: rgba(229, 74, 114, 0.9);
}