nav .navbar-brand {
	padding: 20px 0;
}

header {
	background-image: url("./media/images/bg_banner.png");
	background-size: 100%;
	background-position: right;
	background-repeat: no-repeat;
}

header h1 {
	padding: 100px 50px 50px 50px;
	font-size: 4em;
	font-style: italic;
	text-decoration: underline;
	text-align: left;
}

section #intro-video {
	margin: 150px auto;
}
